.page{
	height: 700px;
	width: 90%;
	/*background: red;*/
	margin: 0 auto;
}
.page .vung1{
	height: 20%;
	width: 90%;
	background: green;
	margin: 0 auto;
}
.page .vung2{
	height: 40%;
	width: 90%;
	/*background: blue;*/
	margin: 4px auto;
}
.vung2 .box{
	float: left;
	height:34%;
	width: 33%;
	background: pink;
	margin-bottom: 0.5%;
}
.vung2 .diff{
	float: left;
	margin: 0 6.12px;
}
.vung2 .box1{
	float: left;
	height: 64%;
	width: 33%;
	background: white;
}
.vung2 .diff1{
	float: left;
	margin: 0 6.12px;
}
.page .vung3{
	height:20%;
	width: 90%;
	background: yellow;
	margin: 6px auto; 
}
.page .vung4{
	height:15%;
	width: 90%;
	background: white;
	margin: 6px auto; 
}
.vung1 p{
	box-sizing: border-box;
	text-align: justify;
	padding: 0.5em 0em;
}
.box1 p{
	box-sizing: border-box;
	text-align: justify;
	padding: 0.2em 0.2em;
}
.diff1 p{
	box-sizing: border-box;
	text-align: justify;
	padding: 0.2em 0.2em;
}
.vung4 p{
	box-sizing: border-box;
	text-align: justify;
	padding: 0.2em 0.2em;
}
.vung3 h1{
	box-sizing: border-box;
	text-align: justify;
	padding: 1.5em 1em;
}